{% extends "base.html" %}

{% block conteudo %}
<div class="container">
    <h1>Login</h1>
    
    <form id="formLogin" class="form-login" action="/login" method="post">
        <div class="form-group">
            <label for="email">Email *</label>
            <input type="email" id="email" name="email" class="form-control" value="{{ email }}" required>
        </div>
        
        <div class="form-group">
            <label for="senha">Senha *</label>
            <input type="password" id="senha" name="senha" class="form-control" placeholder="*******" value="{{ senha }}" required>
        </div>

        {% if error %}
            <div>
              <p style="color: red;">{{ error }}</p>
            </div>
        {% endif %}
        
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Logar</button>
            <a href="/clientes" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
    
    <div class="cadastro-link">
        <p>Ainda não tem uma conta? <a href="/registro">Criar conta</a></p>
    </div>
</div>
{% endblock %}
